# Heretto credentials
HERETTO_API_BASE_URL=https://demo-nxt.heretto.com/ezdnxtgen/api/v2
HERETTO_CCMS_BASE_URL=https://demo-nxt.heretto.com/rest
HERETTO_USERNAME=your-username
HERETTO_PASSWORD=your-password

# Server
PORT=3000
NODE_ENV=development

# Database
DB_PATH=./data/scheduler.db
